@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blink {
  50% { border-color: transparent; }
  100% { border-color: black; }
}

.typing-text {
  display: inline-block;
  overflow: hidden;
  border-right: 2px solid black; /* Simula el cursor de escritura */
  white-space: nowrap;
  animation: typing 2.5s steps(30, end) infinite, blink 0.75s step-end infinite;
}

.subtitle {
  font-family: 'Montserrat', sans-serif; /* Agrega una fuente alternativa */
  font-weight: 400;
}

.header {
  background-image: linear-gradient(to right, #141E30, #4a1ac6);
  color: #fff;
}

.slide img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
