@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blink {
  50% { border-color: transparent; }
  100% { border-color: black; }
}

.typing-text {
  display: inline-block;
  overflow: hidden;
  border-right: 2px solid black; /* Simula el cursor de escritura */
  white-space: nowrap;
  animation: typing 2.5s steps(30, end) infinite, blink 0.75s step-end infinite;
}

.subtitle {
  font-family: 'Montserrat', sans-serif; /* Agrega una fuente alternativa */
  font-weight: 400;
}

.header {
  background-image: linear-gradient(to right, #141E30, #4a1ac6);
  color: #fff;
}

.slide img {
  width: 100%;
  height: auto;
  object-fit: cover;
}


.glassmorphism {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 12px;
}


.neon {
  background: radial-gradient(circle at center, rgba(255, 0, 150, 0.1), rgba(0, 0, 0, 0.9));
  box-shadow: 0 0 20px rgba(255, 0, 150, 0.5), 0 0 30px rgba(255, 0, 150, 0.3);
}
