---
import Layout from '../layouts/Layout.astro';
import '../styles/animations.css';
---

<Layout title="Rcid Portfolio.">
	
        <main class="container mx-auto p-9">
			    <div>
				<img src="logos3s.png" alt="raul cid" class="ml-auto mr-auto mt-1 w-96 mx-auto">
		        </div>
			   <!--iconos redes sociales -->
			    <div class="flex justify-center space-x-4 mr-auto -mt-10">
					<div class = "social-logo">
						<a href="https://github.com/rcidb31" target="_blank">
						<img src="/git-blue.svg" alt="GitHub" class="w-6 h-6">
						</a>
					</div>
					    
			        <div class ="social-logo">
						<a href="https://www.linkedin.com/in/raul-cid-62285748/" target="_blank">
						<img src="/Linkedin.svg" alt="LinkedIn" class="w-6 h-6">
						</a>
					</div>
					    
			        <div class="social-logo">
						<a href="https://www.linkedin.com/in/raul-cid-62285748/" target="_blank">
						<img src="/insta.svg" alt="LinkedIn" class="w-6 h-6">
						</a>
					</div>				    
			    </div>
		        <!-- Presentacion -->
		        <section class="presentacion">
				<div class="object-center p-8 mt-10 bg-gray-900 text-white rounded-xl shadow-2xl max-w-lg mx-auto">
					<h2 class="text-4xl font-bold mb-6 text-center font-mono tracking-wide">
						<div>
							<span class="bg-clip-text text-transparent bg-gradient-to-r from-sky-500 to-violet-500">
								Raul Cid 
							</span>
							<br>
							<span class="text-xl font-bold text-center bg-clip-text text-transparent bg-gradient-to-r from-sky-500 to-violet-500 typing-text">
								Desarrollador Web JS
							</span>
						</div> 
					  </h2>
					  <div class="subtitle">
						<p class=" antialiased text-xl text-gray-300 text-center">
						    + 8 años de experiencia en el área de la construcción 🏗️
						    donde administré el software Chileno 🇨🇱
						    Calidad Cloud en un proyecto de edificación 🏢. Ahora, 
						    busco fusionar mis conocimientos en programación 💻 con mi experiencia 
						    en construcción para desarrollar soluciones tecnológicas.
					  </div>
					    
					  <div class="mt-10">
						<p class="antialiased text-center font-sans mt-3 tracking-widest">
						rcidb31@gmail.com
					  </div>	
				</div>
				<!-- Botones -->
				<div class="container mx-auto flex items-center justify-center py-8 space-x-4">
					<a href="/Raul_Cid.pdf"download> 
						<div class=" outline outline-2 outline-offset-2 outline-blue-500 bg-cyan-400 hover:bg-blue-700 text-white font-bold py-3 px-6 rounded-lg shadow-md transition-transform transform hover:scale-105">
							Mi Cv
						</div>
					</a>  
					<a href="mailto:rcidb31@gmail.com"> 
						<div class=" outline outline-2 outline-offset-2 outline-blue-500 bg-cyan-400 hover:bg-blue-700 text-white font-bold py-3 px-6 rounded-lg shadow-md transition-transform transform hover:scale-105">
							E-mail
						</div>
					</a>
				</div>
			    </section>
                <!-- Proyectos -->
                <section id="projects" class="mt-10">
                    <h2 class="text-4xl font-extrabold text-center pb-2 mb-20">
                        <span class="bg-clip-text text-transparent bg-gradient-to-r from-sky-600 to-violet-500">
							Mis Proyectos
                        </span>
                    </h2>
            <div class="flex flex-wrap mx-2 justify-center">
               <!-- React -->
              <div class="w-full md:w-1/2 lg:w-1/3 px-2 mb-4">
                     <div class="bg-gray-900 rounded shadow p-4 group relative overflow-hidden">
                     <div class="flex justify-center">
                     <img src="/calcu.jpg" alt="Proyecto 1" class="w-auto h-52 rounded mb-2 transform transition-transform duration-300 group-hover:scale-110">
                </div>
                     <h3 class="text-center text-slate-400 text-xl font-bold mb-1">Certificación React</h3>
                     <p class="text text-center text-white">Calculadora Certificacion</p>
             <!-- Github React -->
                    <a href="https://github.com/usuario/repo-calculadora" target="_blank" class="absolute inset-0 flex items-center justify-center bg-black bg-opacity-75 text-white opacity-0 group-hover:opacity-100 transition-opacity duration-300">
                   Ver en GitHub
                    </a>
                </div>
              </div>
				<!-- Css Bulma -->
				<div class="w-full md:w-1/2 lg:w-1/3 px-2 mb-4">
					<div class="bg-gray-900 rounded shadow p-4 group relative overflow-hidden">
					   <div class="flex justify-center">
						 <img src="/Bulma.jpg" alt="Proyecto 1" class="w-auto h-52 rounded mb-2 transform transition-transform duration-300 group-hover:scale-110">
					  </div>
						  <h3 class="text-center text-slate-400 text-xl font-bold mb-1"> Bulma Framework</h3>
						  <p class="text text-center text-white">Certificacion CSS Bulma </p>
				 <!-- Github Web-->
						 <a href="https://github.com/usuario/repo-calculadora" target="_blank" class="absolute inset-0 flex items-center justify-center bg-black bg-opacity-75 text-white opacity-0 group-hover:opacity-100 transition-opacity duration-300">
						 Ver en GitHub
					  </a>
					</div>
				  </div>
			<!-- Web Desing -->
			 <div class="w-full md:w-1/2 lg:w-1/3 px-2 mb-4">
				<div class="bg-gray-900 rounded shadow p-4 group relative overflow-hidden">
				   <div class="flex justify-center">
					 <img src="/blog5.jpg" alt="Proyecto 1" class="w-auto h-52 rounded mb-2 transform transition-transform duration-300 group-hover:scale-110">
				  </div>
					  <h3 class="text-center text-slate-400  text-xl font-bold mb-1">Certificación Web Desing</h3>
					  <p class="text text-center text-white"> HTML + Css web Desing</p>
			 <!-- Github Web-->
					 <a href="https://github.com/usuario/repo-calculadora" target="_blank" class="absolute inset-0 flex items-center justify-center bg-black bg-opacity-75 text-white opacity-0 group-hover:opacity-100 transition-opacity duration-300">
					 Ver en GitHub
				  </a>
				</div>
			  </div>
			<!-- Taxiaerovia web -->
			<div class="w-full md:w-1/2 lg:w-1/3 px-2 mb-4">
					<div class="bg-gray-900 rounded shadow p-4 group relative overflow-hidden">
					   <div class="flex justify-center">
						<img src="/taxiaerovia.jpg" alt="Proyecto 1" class="w-auto h-52 rounded mb-2 transform transition-transform duration-300 group-hover:scale-110">
					</div>
					   <h3 class="text-center text-slate-400 text-xl font-bold mb-1">Web Taxis</h3>
					   <p class="text text-center text-white">Web taxis Aereopuerto JS + Trello </p>
					<!-- Git Taxi-->
					<a href="https://github.com/usuario/repo-calculadora" target="_blank" class="absolute inset-0 flex items-center justify-center bg-black bg-opacity-75 text-white opacity-0 group-hover:opacity-100 transition-opacity duration-300">
						Ver en GitHub
					 </a>
				   </div>
			</div>     
                </section>
				<!-- Experiencia laboral linea de tiempo-->
				<section class="mt-9 bg-gray-900 text-white py-12">
					<div class="container mx-auto px-6">
						<h2 class="text-4xl font-bold text-center mb-12">
							<span class="bg-clip-text text-transparent bg-gradient-to-r from-sky-400 to-violet-500">
								Experiencia Laboral 
							</span>
						</h2>
						<div class="relative border-l border-gray-700 pl-6">
							<!-- Primer evento -->
							<div class="mb-10 ml-4">
								<div class="absolute -left-5 top-1 w-3 h-3 bg-blue-600 rounded-full"></div>
								<h3 class="text-lg font-semibold text-white">Marzo 2024</h3>
								<p class=" text-gray-300">Proyectos de construcción independientes + Estudios Universitarios de programacion</p>
							</div>
							<!-- Segundo evento -->
							<div class="mb-10 ml-4">
								<div class="absolute -left-5 top-1 w-3 h-3 bg-blue-600 rounded-full"></div>
								<h3 class="text-lg font-semibold text-white">Julio 2023</h3>
								<p class="text-gray-300"> 4 ańos ocupe el cargo Jefe de Calidad Constructura ICF Proyecto Eco-irarrazaval</p>
								<p class="text-gray-300">Durante 4 años, ocupé el cargo de Encargado de Calidad en Constructora Santolaya, donde fui responsable del sistema de autocontrol de obras, asegurando el cumplimiento de las normas chilenas de construcción.</p>
								<div class="mt-4 mb-4 flex justify-center">
									<img src="/ICF.png" alt="Constructora ICF" class=" mr-6 rounded mt-10 w-40 h-20">
									<img src="/Santo.png" alt="Constructora Santolaya" class="auto rounded mt-10 w-40 h-16">
							    </div>
                      <!-- slide de imagenes 2 -->
					<div class="relative w-full max-w-3xl mx-auto">
						<!-- Slide container -->
						<div class="overflow-hidden relative">
						  <div class="slide-track flex transition-transform duration-700 ease-in-out">
							<!-- Slide 1 -->
							<div class="slide w-full flex-shrink-0">
							  <img src="/slide/img1.png" alt="Slide 1" class="w-full object-cover">
							</div>
							<!-- Slide 2 -->
							<div class="slide w-full flex-shrink-0">
							  <img src="/slide/img5.JPEG" alt="Slide 2" class="w-full object-cover">
							</div>
							<!-- Slide 3 -->
							<div class="slide w-full flex-shrink-0">
							  <img src="/slide/img3.JPEG" alt="Slide 3" class="w-full object-cover">
							</div>
                            <!-- Slide 4 -->
							<div class="slide w-full flex-shrink-0">
								<img src="/slide/img4.JPEG" alt="Slide 4" class="w-full object-cover">
							  </div>
							  <!-- Slide 5 -->
							<div class="slide w-full flex-shrink-0">
								<img src="/slide/img7.JPEG" alt="Slide 5" class="w-full object-cover">
							  </div> 
						  </div>
						</div>
						<!-- Prev/Next Buttons -->
						<button id="prev" class="absolute top-1/2 left-0 transform -translate-y-1/2 bg-black bg-opacity-50">
						  ◀
						</button>
						<button id="next" class="absolute top-1/2 right-0 transform -translate-y-1/2 bg-black bg-opacity-50">
						  ▶
						</button>
					  </div>
					        
				</section>	
	            <!-- About Me-->
				<section id="Experiencia Laboral" class="my-40" style="font-family: 'Roboto', sans-serif;">
					<h2 class="text-4xl font-semibold text-center pb-2 mb-4">
						<span class="bg-clip-text text-transparent bg-gradient-to-r from-sky-200 to-violet-500">
							About Me
						</span>
					</h2>
					<div class="flex justify-center mt-16">
						<div class="w-full sm:w-10/12 md:w-8/12 lg:w-6/12 px-2 mb-4">
							<div class="bg-gray-900 rounded-lg shadow-lg p-6">
								<p class="text-gray-300 text-lg leading-relaxed font-extralight">
									Colaboré en el desarrollo de procesos de control de calidad mediante el software <strong>Calidad Cloud</strong> y la aplicación de las normas chilenas de construcción, incluyendo registros de inspección en tiempo real, tanto online como offline. Implementé reportes semanales para el control de procesos constructivos y sus fallas mediante el análisis de datos del software, y generé planes de acción ante defectos recurrentes. Trabajé en estrecha colaboración con los equipos de diseño para garantizar una experiencia de usuario fluida y funcional para capataces y jefes de terreno.
								</p>
							</div>
						</div>
					</div>					
					<div class="flex flex-wrap justify-center space-x-8 mt-8">
						<img src="/Edi1.jpeg" alt="Quality" class="w-60 h-60 rounded-lg shadow-lg transition-transform transform hover:scale-110 hover:rotate-3 duration-300 ease-in-out">
						<img src="/edi2.jpeg" alt="Quality" class="w-60 h-60 rounded-lg shadow-lg transition-transform transform hover:scale-110 hover:-rotate-3 duration-300 ease-in-out">
				        <img src="/edi3.jpeg" alt="Quality" class="w-60 h-60 rounded-lg shadow-lg transition-transform transform hover:scale-110 hover:-rotate-3 duration-300 ease-in-out">
						<img src="/edi4.jpeg" alt="Quality" class="w-60 h-60 rounded-lg shadow-lg transition-transform transform hover:scale-110 hover:-rotate-3 duration-300 ease-in-out">
					</div>
				</section>
				<!-- Certificaciones-->
				<section id="certifications" class="my-16">
					<h2 class="text-4xl font-semibold text-center pb-6 text-gray-100">
						<span class="bg-clip-text text-transparent bg-gradient-to-r from-sky-100 to-violet-500">
						Certificaciones 2023 - 2024
					</h2>
					<div class="flex justify-center mt-8">
						<div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8">
							<div class="flex flex-col items-center bg-gray-800 p-4 rounded-lg shadow-md transform hover:scale-125 transition-transform duration-300">
								<img src="/javascript.png" alt="Certificación JavaScript" class="h-28 w-28 rounded mb-4">
								<p class="text-white text-sm">JavaScript</p>
							</div>
							<div class="flex flex-col items-center bg-gray-800 p-4 rounded-lg shadow-md transform hover:scale-125 transition-transform duration-300">
								<img src="/node.png" alt="Certificación Node.js" class="h-28 w-28 rounded mb-4">
								<p class="text-white text-sm">Node.js</p>
							</div>
							<div class="flex flex-col items-center bg-gray-800 p-4 rounded-lg shadow-md transform hover:scale-125 transition-transform duration-300">
								<img src="/mongodb.png" alt="Certificación MongoDB" class="h-28 w-28 rounded mb-4">
								<p class="text-white text-sm">MongoDB</p>
							</div>
							<div class="flex flex-col items-center bg-gray-800 p-4 rounded-lg shadow-md transform hover:scale-125 transition-transform duration-300">
								<img src="/bulma.png" alt="Certificación Bulma" class="h-28 w-28 rounded mb-4">
								<p class="text-white text-sm">Bulma</p>
							</div>
							<div class="flex flex-col items-center bg-gray-800 p-4 rounded-lg shadow-md transform hover:scale-125 transition-transform duration-300">
								<img src="/web.png" alt="Certificación Desarrollo Web" class="h-28 w-28 rounded mb-4">
								<p class="text-white text-sm">Desarrollo Web</p>
							</div>
							<div class="flex flex-col items-center bg-gray-800 p-4 rounded-lg shadow-md transform hover:scale-125 transition-transform duration-300">
								<img src="/git.png" alt="Certificación Git" class="h-28 w-28 rounded mb-4">
								<p class="text-white text-sm">Git</p>
							</div>
							<div class="flex flex-col items-center bg-gray-800 p-4 rounded-lg shadow-md transform hover:scale-125 transition-transform duration-300">
								<img src="/cisco.png" alt="Certificación Cisco" class="h-28 w-28 rounded mb-4">
								<p class="text-white text-sm">Cisco</p>
							</div>
						</div>
					</div>
				</section>	
                <!-- Sección de Estudios-->
                <section id="education" class="my-16">
                    <h2 class="text-4xl font-semibold text-center pb-6 text-gray-100">
                    <span class="bg-clip-text text-transparent bg-gradient-to-r from-sky-100 to-violet-500">
                    Estudios </h2>
                    <div class="flex justify-center mt-8">
                        <div class="space-y-8 max-w-4xl">
                        <div class="bg-gray-800 p-6 rounded-lg shadow-md">
                          <h3 class="text-2xl font-semibold text-white">Programacion Computacional</h3>
                             <p class="text-gray-400">Universidad Mayor | Enero 2024 - Marzo 2026</p>
                             <p class="text-gray-300 mt-4">Profesionales preparados para diseñar, 
								administrar y desarrollar tecnologías utilizando diferentes herramientas,
								metodologías y buenas prácticas que permitan dar solución a problemáticas 
								actuales de índole organizacional, pudiendo desempeñarse en diferentes rubros de
								crecimiento exponencial.</p>
                    </div>
                        <div class="bg-gray-800 p-6 rounded-lg shadow-md">
                            <h3 class="text-2xl font-semibold text-white">Bootcamp Fullstack Javascript</h3>
                            <p class="text-gray-400">Programadores Chile | Abril 2021 -  Abril 2022</p>
                            <p class="text-gray-300 mt-4">Certificaciones Credly en herramientas de diseno y despliegue Front y backend  Javascript</p>
                        </div>
						<div class="bg-gray-800 p-6 rounded-lg shadow-md">
                            <h3 class="text-2xl font-semibold text-white">Tecnologo en Construccion
							</h3>
                            <p class="text-gray-400">Universidad de Santiago de Chile | 2021 - 2022</p>
                            <p class="text-gray-300 mt-4">
								Duracion 6 Semestres profesional capas de administrar y gestionar los recursos humanos, materiales, equipos y servicios;
								supervisar y garantizar la aplicación efectiva de las especicaciones técnicas,
								estándares de calidad y seguridad, planicación y normativas vigentes para la materialización del proyecto.  </p>
                            </div>
                        </div>
                    </div>
                </section>
				<!-- Ultimos Logros-->
				<section id="education" class="bg-gradient-to-r from-blue-500 via-purple-500 to-pink-500 text-white py-20">
					<div class="container mx-auto text-center">
						<h2 class="text-5xl font-extrabold mb-10 animate__animated animate__fadeInUp">
							Ultimas Certificaciones
						</h2>
						<p class="text-2xl mb-16 animate__animated animate__fadeInUp animate__delay-1s">
							React basic Certification Meta. 
						</p>
						<div class="relative group mx-auto max-w-md transform hover:scale-105 transition-transform duration-500">
							<img src="/react.jpg" alt="Diploma Universitario" class="w-full rounded-xl shadow-2xl">
							<div class="absolute inset-0 bg-black bg-opacity-70 opacity-0 group-hover:opacity-100 transition-opacity duration-500 flex items-center justify-center rounded-xl">
								<p class="text-white text-3xl font-bold animate__animated animate__fadeIn animate__delay-2s"> Avanzando 💪 </p>
							</div>
						</div>
					</div>
				</section>
				<!-- gracias-->
				<section id="closing" class="bg-gray-900 text-white py-16">
					<div class="container mx-auto text-center">
						<h2 class="text-4xl font-bold mb-6 animate__animated animate__fadeInUp">
							<span class="bg-clip-text text-transparent bg-gradient-to-r from-sky-500 to-pink-500">
								Gracias por visitar mi portafolio
							</span></h2>
						<p class="text-lg mb-8 animate__animated animate__fadeInUp animate__delay-1s">
							¿Listo para comenzar tu próximo proyecto? ¡Contáctame!
						</p>
						<button>
						<a href="#contact" class="inline-block bg-slate-500 hover:bg-blue-700 text-balance font-bold py-3 px-6 rounded-full transition-transform duration-300 transform hover:scale-110 animate__animated animate__pulse animate__infinite">
							Vamos a Trabajar
						</a>
						<div class="mt-12 animate__animated animate__fadeIn animate__delay-2s">
							<img src="/pc.svg" alt="Gracias" class=" mx-auto w-32 opacity-80 hover:opacity-100 transition-opacity duration-500 transform hover:rotate-12 hover:scale-105">
						</div>
					</div>
				</section>		
        </main>
</Layout>


