---
import Layout from '../layouts/Layout.astro';
import '../styles/animations.css';
import 'animate.css';
---

<Layout title="Raul_cid Portfolio.">  
        <main class="container mx-auto p-9">
			    <section id="logo">
					<div>
						<img src="logos3s.png" alt="Raúl Cid" class="ml-auto mr-auto mt-1 w-96 mx-auto">
					</div>
					<!-- iconos redes sociales -->
					<div class="flex justify-center space-x-4 mr-auto -mt-10 ">
						<a class="transform hover:scale-125 transition-transform duration-300" href="https://github.com/rcidb31" target="_blank" aria-label="GitHub">
						<img src="/git-blue.svg" alt="GitHub Logo" class="w-8 h-8">
						</a>
						<a class="transform hover:scale-125 transition-transform duration-300" href="https://www.linkedin.com/in/raul-cid-62285748/" target="_blank" aria-label="LinkedIn">
						<img src="/Linkedin.svg" alt="LinkedIn Logo" class="w-8 h-8">
						</a>
					</div>
			    </section>
		        <!-- Presentacion -->
				<section id="presentacion">
					<div class="object-center p-4 sm:p-6 mt-6 bg-gray-900 rounded-xl shadow-2xl max-w-full sm:max-w-screen-sm md:max-w-screen-md lg:max-w-screen-lg mx-auto text-white py-6 sm:py-8 [background:radial-gradient(125%_125%_at_50%_10%,#000_40%,#63e_100%)]">
						<h1 class="text-2xl sm:text-3xl md:text-4xl font-bold mb-6 text-center font-mono tracking-wide">
							<div>
								<span class="bg-clip-text text-transparent bg-gradient-to-r from-sky-500 to-violet-500 typing-text">
									Raul Cid 
								</span>
							</div>
							<span class="text-lg sm:text-xl font-bold text-center bg-clip-text text-transparent bg-gradient-to-r from-sky-500 to-violet-500 typing-text">
								Desarrollador Frontend JS
							</span>
						</h1>
						<h2 class="text-lg sm:text-xl md:text-2xl text-gray-300 text-center animate__animated animate__fadeInUp animate__delay-1s">
							 8 años de experiencia en el área de la construcción 🏗️, donde administré el software Chileno 🇨🇱
							Calidad Cloud en un proyecto de edificación 🏢. Ahora, busco fusionar mis conocimientos en 
							programación 💻 con mi experiencia en construcción para desarrollar soluciones tecnológicas.
						</h2>
						<!-- Email texto -->
						<div class="mt-8 sm:mt-10">
							<p class="text-center font-medium text-sm sm:text-lg text-gray-400 hover:text-blue-500 tracking-wide transition-colors duration-300 ease-in-out">
								rcidb31@gmail.com
							</p>
						</div>
						<!-- Botones -->
						<div class="container mx-auto flex flex-col sm:flex-row items-center justify-center py-8 gap-4">
							<a href="/Raul_Cid.pdf" download> 
								<div class="outline outline-2 outline-offset-2 outline-blue-500 bg-cyan-400 hover:bg-blue-700 text-white font-bold py-2 px-4 sm:py-3 sm:px-6 rounded-lg shadow-md transition-transform transform hover:scale-105">
									Mi Cv
								</div>
							</a>  
							<a href="mailto:rcidb31@gmail.com"> 
								<div class="outline outline-2 outline-offset-2 outline-blue-500 bg-cyan-400 hover:bg-blue-700 text-white font-bold py-2 px-4 sm:py-3 sm:px-6 rounded-lg shadow-md transition-transform transform hover:scale-105">
									E-mail
								</div>
							</a>
						</div>
					</div>
				</section>
                <!-- Proyectos -->
                <section id="pro" class="mt-40 glassmorphism">
                    <h2 class="text-4xl font-extrabold text-center pb-2 mb-20 animate-on-scroll" data-animation="animate__pulse">
						<span class="bg-clip-text text-transparent bg-gradient-to-r from-indigo-400 to-teal-300">
							Mis Proyectos
						</span>
						
                    </h2>
                <div class="flex flex-wrap mx-2 justify-center">  
							<!-- blog  -->
				<div class="w-full md:w-1/2 lg:w-1/3 px-2 mb-4 animate-on-scroll" data-animation="animate__pulse">
					<div class="bg-gray-900 rounded shadow p-4 group relative overflow-hidden">
						<div class="flex justify-center">
						<img src="/blog.png" alt="Proyecto 1" class="w-auto h-52 rounded mb-2 transform transition-transform duration-300 group-hover:scale-110">
					</div>
						<h3 class="text-center text-slate-400 text-xl font-bold mb-1">Blog Personal</h3>
						<p class="text text-center text-white"> Astro + taiwind </p>
					<!-- Git Taxi-->
					<a href="https://blog.cidev.dev/" target="_blank" class="absolute inset-0 flex items-center justify-center bg-black bg-opacity-75 text-white opacity-0 group-hover:opacity-100 transition-opacity duration-300">
					     Ver blog  📝
						</a>
					</div>
			    </div>    
				<!-- Arkanoid JS  -->
				<div class="w-full md:w-1/2 lg:w-1/3 px-2 mb-4 animate-on-scroll" data-animation="animate__pulse">
					<div class="bg-gray-900 rounded shadow p-4 group relative overflow-hidden">
						<div class="flex justify-center">
						<img src="/arka.png" alt="Proyecto 1" class="w-auto h-52 rounded mb-2 transform transition-transform duration-300 group-hover:scale-110">
					</div>
						<h3 class="text-center text-slate-400 text-xl font-bold mb-1">Arkanoid JavaScript</h3>
						<p class="text text-center text-white"> Canvas Sprite + Coliciones </p>
					<!-- Git Taxi-->
					<a href="https://arka.cidev.dev/" target="_blank" class="absolute inset-0 flex items-center justify-center bg-black bg-opacity-75 text-white opacity-0 group-hover:opacity-100 transition-opacity duration-300">
					     juegalo  🎮
						</a>
					</div>
			    </div>    
			<!-- Taxiaerovia web -->
				<div class="w-full md:w-1/2 lg:w-1/3 px-2 mb-4 animate-on-scroll" data-animation="animate__pulse">
					<div class="bg-gray-900 rounded shadow p-4 group relative overflow-hidden">
						<div class="flex justify-center">
						<img src="/taxiaerovia.jpg" alt="Proyecto 1" class="w-auto h-52 rounded mb-2 transform transition-transform duration-300 group-hover:scale-110">
					</div>
						<h3 class="text-center text-slate-400 text-xl font-bold mb-1">Web Cliente Taxis</h3>
						<p class="text text-center text-white">Taxis Aereopuerto JS + Trello </p>
					<!-- Git Taxi-->
					<a href="https://github.com/rcidb31/Taxiaerovia/" target="_blank" class="absolute inset-0 flex items-center justify-center bg-black bg-opacity-75 text-white opacity-0 group-hover:opacity-100 transition-opacity duration-300">
						Ver en GitHub
						</a>
					</div>
			    </div>    
			<!-- Css Bulma -->
				<div class="w-full md:w-1/2 lg:w-1/3 px-2 mb-4 animate-on-scroll" data-animation="animate__pulse">
						<div class="bg-gray-900 rounded shadow p-4 group relative overflow-hidden">
							<div class="flex justify-center">
								<img src="/Bulma.jpg" alt="Proyecto 1" class="w-auto h-52 rounded mb-2 transform transition-transform duration-300 group-hover:scale-110">
							</div>
								<h3 class="text-center text-slate-400 text-xl font-bold mb-1"> Bulma Framework</h3>
								<p class="text text-center text-white">Certificacion CSS Bulma </p>
						<!-- Github Web-->
								<a href="https://github.com/rcidb31/bulmnacss/" target="_blank" class="absolute inset-0 flex items-center justify-center bg-black bg-opacity-75 text-white opacity-0 group-hover:opacity-100 transition-opacity duration-300">
								Ver en GitHub
							</a>
						</div>
				</div>
			<!-- Web Desing -->
				<div class="w-full md:w-1/2 lg:w-1/3 px-2 mb-4 animate-on-scroll" data-animation="animate__pulse">
					<div class="bg-gray-900 rounded shadow p-4 group relative overflow-hidden">
					<div class="flex justify-center">
						<img src="/blog5.jpg" alt="Proyecto 1" class="w-auto h-52 rounded mb-2 transform transition-transform duration-300 group-hover:scale-110">
					</div>
						<h3 class="text-center text-slate-400  text-xl font-bold mb-1">Cert. Web Desing</h3>
						<p class="text text-center text-white"> HTML + Css web Desing</p>
				<!-- Github Web-->
						<a href="https://github.com/rcidb31/blog5/" target="_blank" class="absolute inset-0 flex items-center justify-center bg-black bg-opacity-75 text-white opacity-0 group-hover:opacity-100 transition-opacity duration-300">
						Ver en GitHub
					</a>
					</div>
				</div>
            <!-- React -->
				<div class="w-full md:w-1/2 lg:w-1/3 px-2 mb-4 animate-on-scroll" data-animation="animate__pulse">
					<div class="bg-gray-900 rounded shadow p-4 group relative overflow-hidden">
						<div class="flex justify-center">
						<img src="/calcu.jpg" alt="Proyecto 1" class="w-auto h-52 rounded mb-2 transform transition-transform duration-500 ease-in-out group-hover:scale-110">
						</div>
						<h3 class="text-center text-slate-400 text-xl font-bold mb-1">Certificación React</h3>
						<p class="text-center text-white">Calculadora Certificación</p>
						<!-- Github React Link -->
						<a href="https://react.cidev.dev/" target="_blank" class="absolute inset-0 flex items-center justify-center bg-black bg-opacity-75 text-white opacity-0 group-hover:opacity-100 transition-opacity duration-300">
						Prueba mi Calcu 🇨🇱
						</a>
					</div>
				</div>
                </section>
				<!-- Experiencia laboral linea de tiempo-->
				<section id="lineatiempo" class="mt-32 bg-gray-900 text-white py-12 [background:radial-gradient(125%_125%_at_50%_10%,#000_40%,#63e_100%)]">
					<div class="container mx-auto px-6">
						<!-- Título de la sección -->
						<h2 class="text-4xl font-bold text-center mb-10 animate-on-scroll" data-animation="animate__pulse">
							<span class="bg-clip-text text-transparent bg-gradient-to-r from-sky-400 to-violet-500">
								Experiencia Laboral
							</span>
						</h2>			
						<!-- Línea de tiempo -->
						<div class="relative border-l border-gray-700 pl-6">
							<!-- Primer evento -->
							<div class="mb-10 ml-4 relative">
								<h3 class="text-lg font-semibold text-white">Marzo 2024 - Actualidad 2025</h3>
								<p class="text-gray-300">Administrador de Construccion planta de 
									<a href="https://www.arensburg.cl/" target="_blank" class="text-blue-400 underline hover:text-blue-600"> Arensburg Chile 
							        </a>/ American Cosmetic USA Quilicura.</p>
								<div class="mt-3 flex justify-center">
									<img src="/planta.png" alt="Planta" class="w-30 h-30 object-cover animate-on-scroll" data-animation="animate__pulse">
								</div>
							</div>
							
								<p class="text-gray-300"></p>
							</div>
							<!-- Segundo evento -->
							<div class="mb-10 ml-4">
								<div class="absolute -left-5 top-1 w-4 h-4 bg-blue-600 rounded-full animate-on-scroll" data-animation="animate__rubberBand"></div>
								<h3 class="text-lg font-semibold text-white">Marzo 2016 - Enero 2022</h3>
								<p class="text-gray-300">
									Trabajé como Administrador de Software Ccloud y Control de Calidad 
									<a href="https://fundamenta.cl/" target="_blank" class="text-blue-400 underline hover:text-blue-600">Constructora ICF</a>, 
									el proyecto como Eco-Irarrázaval. Anteriormente, en 
									<a href="https://www.santolaya.cl" target="_blank" class="text-blue-400 underline hover:text-blue-600">Constructora Santolaya</a>, 
									desempeñé el rol de Inspector de Calidad en Terreno supervisando normativas y sistemas de autocontrol.
								</p>
								<div class="mt-4 mb-4 flex justify-center">
									<img src="/ICF.png" alt="Constructora ICF" class="mr-6 rounded w-40 h-15 animate-on-scroll" data-animation="animate__pulse">
									<img src="/Santo.png" alt="Constructora Santolaya" class="rounded w-40 h-30 animate-on-scroll" data-animation="animate__pulse">
								</div>
							</div>

						<!-- Slider de imágenes -->
						<section>
							<div class="relative w-full max-w-3xl h-auto mx-auto">
								<!-- Contenedor del marco -->
								<div class="p-2 border-4 border-purple-800 rounded-lg shadow-lg">
									<!-- Slide container -->
									<div class="overflow-hidden relative">
										<div class="slide-track flex transition-transform duration-700 ease-in-out">
											<!-- Slide 1 -->
											<div class="slide w-full flex-shrink-0">
												<img src="/slide/img1.png" alt="Slide 1" class="w-full h-64 object-cover">
											</div>
											<!-- Slide 2 -->
											<div class="slide w-full flex-shrink-0">
												<img src="/slide/img5.png" alt="Slide 2" class="w-full h-64 object-cover">
											</div>
											<!-- Slide 3 -->
											<div class="slide w-full flex-shrink-0">
												<img src="/slide/img3.png" alt="Slide 3" class="w-full h-64 object-cover">
											</div>
											<!-- Slide 4 -->
											<div class="slide w-full flex-shrink-0">
												<img src="/slide/img4.png" alt="Slide 4" class="w-full h-64 object-cover">
											</div>
											<!-- Slide 5 -->
											<div class="slide w-full flex-shrink-0">
												<img src="/slide/img7.png" alt="Slide 5" class="w-full h-64 object-cover">
											</div>
										</div>
									</div>
									<!-- Prev/Next Buttons -->
									<button id="prev" class="absolute top-1/2 left-0 transform -translate-y-1/2 bg-black bg-opacity-50 text-white py-2 px-3 rounded-full">
										◀
									</button>
									<button id="next" class="absolute top-1/2 right-0 transform -translate-y-1/2 bg-black bg-opacity-50 text-white py-2 px-3 rounded-full">
										▶
									</button>
								</div>
							</div>
						</section>
				</section>		
	            <!-- About Me-->
				<section id="aboutme" class="pt-12 neon [background:radial-gradient(125%_125%_at_50%_10%,#000_40%,#63e_100%)] my-20 mt-16">
						<div class="container pb-3 px-3 animate-on-scroll" data-animation="animate__pulse">
							<h3 class="text-2xl sm:text-3xl md:text-4xl font-semibold text-center pb-2 bg-clip-text text-transparent bg-gradient-to-r from-sky-200 to-violet-500">
								About Me
							</h3>					
						</div>							
					<!-- Contenedor de texto -->
					<div class="flex justify-center">
						<div class="w-full max-w-screen-sm sm:max-w-screen-md lg:max-w-screen-lg px-4 md:px-6 mb-4 mt-7">
							<div class="bg-gray-900 rounded-lg shadow-lg p-6 md:p-8 lg:p-10">
								<h3 class="text-gray-300 text-sm sm:text-base md:text-lg leading-relaxed font-light">
								  "Participé en el desarrollo y optimización de procesos de control de calidad utilizando el software Calidad Cloud, 
								  asegurando el cumplimiento de las normas chilenas de construcción. Implementé un sistema de registro de inspecciones en tiempo real,
								  tanto en modalidad online como offline. Diseñé y gestioné reportes semanales para monitorear los avances constructivos y detectar fallas,
								  analizando datos para establecer planes de acción ante problemas recurrentes. Colaboré estrechamente con los equipos de diseño para crear una experiencia de usuario intuitiva y eficiente, 
								  adaptada a las necesidades de capataces y jefes de terreno."
								</h3>
							</div>
						</div>
					</div>
					<!-- Imágenes -->
					<div class="flex flex-wrap justify-center gap-4 md:gap-8 mt-8 mb-8">
						<img src="/Edi1.jpeg" alt="Edificio1" loading="lazy" class="w-32 h-32 sm:w-40 sm:h-40 md:w-60 md:h-60 lg:w-72 lg:h-72 rounded-lg shadow-lg transition-transform transform hover:scale-110 hover:rotate-3 duration-300 ease-in-out mb-6">
						<img src="/edi2.jpeg" alt="Edificio2" loading="lazy" class="w-32 h-32 sm:w-40 sm:h-40 md:w-60 md:h-60 lg:w-72 lg:h-72 rounded-lg shadow-lg transition-transform transform hover:scale-110 hover:-rotate-3 duration-300 ease-in-out mb-6">
						<img src="/edi4.jpeg" alt="Edificio3" loading="lazy" class="w-32 h-32 sm:w-40 sm:h-40 md:w-60 md:h-60 lg:w-72 lg:h-72 rounded-lg shadow-lg transition-transform transform hover:scale-110 hover:-rotate-3 duration-300 ease-in-out mb-6">
					</div>
				</section>		
				<!-- Certificaciones-->
				<section id="certifications" class="my-16">
					<h2 class="text-4xl font-semibold text-center pb-6 text-gray-100 animate-on-scroll" data-animation="animate__pulse">
						<span class="bg-clip-text text-transparent bg-gradient-to-r from-sky-100 to-violet-500">
						Certificaciones 2023 - 2024
					</h2>
					<div class="flex justify-center mt-8">
						<div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8">
							
							<div class="flex flex-col items-center bg-gray-800 p-4 rounded-lg shadow-md transform hover:scale-125 transition-transform duration-300">
								<a href="https://www.credly.com/badges/a32e7174-3a73-4bff-96cc-a7c35c2ab87a" target="_blank" aria-label="Javascript">
								<img src="/javascript.png" alt="Certificación JavaScript" class="h-28 w-28 rounded mb-4">
								</a>								
								<p class="text-white text-sm">JavaScript</p>
							</div>
							<div class="flex flex-col items-center bg-gray-800 p-4 rounded-lg shadow-md transform hover:scale-125 transition-transform duration-300">
								<a href="https://www.credly.com/badges/2dd16662-3b17-4e52-b501-64b22be46e5e" target="_blank" aria-label="Node">
								<img src="/node.png" alt="Certificación Node.js" class="h-28 w-28 rounded mb-4">
							    </a>
								<p class="text-white text-sm">Node.js</p>
							</div>
							<div class="flex flex-col items-center bg-gray-800 p-4 rounded-lg shadow-md transform hover:scale-125 transition-transform duration-300">
								<a href="https://www.credly.com/badges/5c34bbfb-e407-4ebb-a586-3239b47168f0" target="_blank" aria-label="mongo">
								<img src="/mongodb.png" alt="Certificación MongoDB" class="h-28 w-28 rounded mb-4">
								</a>
								<p class="text-white text-sm">MongoDB</p>
							</div>
							<div class="flex flex-col items-center bg-gray-800 p-4 rounded-lg shadow-md transform hover:scale-125 transition-transform duration-300">
								<a href="https://www.credly.com/badges/3d69a6d9-3869-4b68-a640-7973d59684a0" target="_blank" aria-label="bulmacss">
								<img src="/bulma.png" alt="Certificación Bulma" class="h-28 w-28 rounded mb-4">
								</a>
								<p class="text-white text-sm">Bulma</p>
							</div>
							<div class="flex flex-col items-center bg-gray-800 p-4 rounded-lg shadow-md transform hover:scale-125 transition-transform duration-300">
								<a href="https://www.credly.com/badges/3b7e959b-0771-431c-9602-6db178b914d8" target="_blank" aria-label="webdesing">
								<img src="/web.png" alt="Certificación Desarrollo Web" class="h-28 w-28 rounded mb-4">
								</a>
								<p class="text-white text-sm">Desarrollo Web</p>
							</div>
							<div class="flex flex-col items-center bg-gray-800 p-4 rounded-lg shadow-md transform hover:scale-125 transition-transform duration-300">
								<a href="https://www.credly.com/badges/8b1d97cd-2e1a-4022-8b6a-cd5b06d0b4c9" target="_blank" aria-label="git">
								<img src="/git.png" alt="Certificación Git" class="h-28 w-28 rounded mb-4">
								</a>
								<p class="text-white text-sm">Git</p>
							</div>
							<div class="flex flex-col items-center bg-gray-800 p-4 rounded-lg shadow-md transform hover:scale-125 transition-transform duration-300">
								<a href="https://www.credly.com/badges/048cbeb3-f2a4-4879-b696-092e8152223a" target="_blank" aria-label="cisco">
								<img src="/cisco.png" alt="Certificación Cisco" class="h-28 w-28 rounded mb-4">
								</a>
								<p class="text-white text-sm">Cisco</p>
							</div>
							<div class="flex flex-col items-center bg-gray-800 p-4 rounded-lg shadow-md transform hover:scale-125 transition-transform duration-300">
								<a href="https://coursera.org/share/d908350e4e4abc9f75902c57c136a297" target="_blank" aria-label="react">
								<img src="/react.png" alt="Certificación Cisco" class="h-28 w-28 rounded mb-4">
								</a>
								<p class="text-white text-sm">React</p>
							</div>
						</div>
					</div>
				</section>	
                <!-- Sección de Estudios-->
                <section id="education" class="my-16">
                    <h2 class="text-4xl font-semibold text-center pb-6 text-gray-100 animate-on-scroll" data-animation="animate__pulse">
                    <span class="bg-clip-text text-transparent bg-gradient-to-r from-sky-100 to-violet-500">
                    Mis Estudios </h2>
                    <div class="flex justify-center mt-8">
                        <div class="space-y-8 max-w-4xl">
                        <div class="bg-gray-800 p-6 rounded-lg shadow-md">
                          <h3 class="text-2xl font-semibold text-white">Programacion Computacional</h3>
                             <p class="text-gray-400">Universidad Mayor | Enero 2024 - Marzo 2026</p>
                             <p class="text-gray-300 mt-4">Profesionales preparados para diseñar, 
								administrar y desarrollar tecnologías utilizando diferentes herramientas,
								metodologías y buenas prácticas que permitan dar solución a problemáticas 
								actuales de índole organizacional, pudiendo desempeñarse en diferentes rubros de
								crecimiento exponencial.</p>
                    </div>
                        <div class="bg-gray-800 p-6 rounded-lg shadow-md">
                            <h3 class="text-2xl font-semibold text-white">Bootcamp Fullstack Javascript</h3>
                            <p class="text-gray-400">Programadores Chile | Abril 2021 -  Abril 2022</p>
                            <p class="text-gray-300 mt-4">Certificaciones Credly en herramientas de diseno y despliegue Front y backend  Javascript</p>
                        </div>
						<div class="bg-gray-800 p-6 rounded-lg shadow-md">
                            <h3 class="text-2xl font-semibold text-white">Tecnologo en Construccion
							</h3>
                            <p class="text-gray-400">Universidad de Santiago de Chile | Marzo 2013 - dic 2016</p>
                            <p class="text-gray-300 mt-4">
								Profesional capas de administrar y gestionar los recursos humanos, materiales, equipos y servicios;
								supervisar y garantizar la aplicación efectiva de las especicaciones técnicas,
								estándares de calidad y seguridad, planicación y normativas vigentes para la materialización del proyecto.  </p>
                            </div>
                        </div>
                    </div>
                </section>
				<!-- Ultimos Logros-->
				<section id="universidad" class="mt-9 bg-gray-900 text-white py-12 [background:radial-gradient(125%_125%_at_50%_10%,#000_40%,#63e_100%)]">
					<div class="container mx-auto text-center">
						<h4 class="text-2xl font-extrabold mb-10 animate__animated animate__fadeInUp">
						 Mi Avance en la Universidad
						 <a href="https://tec.umayor.cl/tecnico-universitario-programacion-computacional" target="_blank" class="text-blue-400 underline hover:text-blue-600"> 
							Mayor</a>
						</h4>
						<p class="text-lg md:text-xl lg:text-2xl mb-8 md:mb-12 lg:mb-16 animate__animated animate__fadeInUp animate__delay-1s">
						 
						</p>
						<div class="relative group mx-auto max-w-md transform hover:scale-105 transition-transform duration-500">
							<img src="/malla.pdf.png" alt="Diploma Universitario" class="w-full rounded-xl shadow-2xl">
							<div class="absolute inset-0 bg-black bg-opacity-70 opacity-0 group-hover:opacity-100 transition-opacity duration-500 flex items-center justify-center rounded-xl">
								<p class="text-white text-3xl font-bold animate__animated animate__fadeIn animate__delay-2s">💪 Segundo Año </p>
							</div>
						</div>
					</div>
				</section>
				<!-- gracias-->
				<section id="closing" class="mt-9 bg-gray-900 text-white py-12 [background:radial-gradient(125%_125%_at_50%_10%,#000_40%,#63e_100%)]">	
					<div class="container mx-auto text-center">
						<h2 class="text-4xl font-bold mb-6">
							<span class="bg-clip-text text-transparent bg-gradient-to-r from-sky-500 to-pink-500">
								Gracias por visitar mi portafolio
							</span></h2>
						<p class="text-lg mb-8 animate__animated animate__fadeInUp animate__delay-1s">
							¿Listo para comenzar tu próximo proyecto? ¡Contáctame!
						</p>
						<button>
						<a href="mailto:rcidb31@gmail.com" class="inline-block bg-slate-500 hover:bg-blue-700 text-balance font-bold py-3 px-6 rounded-full transition-transform duration-300 transform hover:scale-110 animate__animated animate__pulse animate__infinite">
							Vamos a Trabajar
						</a>
						<div class="mt-12 animate__animated animate__fadeIn animate__delay-2s">
							<img src="/pc.svg" alt="Gracias" class=" mx-auto w-32 opacity-80 hover:opacity-100 transition-opacity duration-500 transform hover:rotate-12 hover:scale-105">
						</div>
					</div>
				</section>		
	    </main>
	</div>
</Layout>
