---

---

<footer class= "bg-gradient-to-l from-sky-500 to-violet-800 "style="padding: 20px; text-align: center">
    <div style="max-width: 1200px; margin: 0 auto;">
        <p style="color: #f0f3f6; margin: 0;">&copy; 2024 Rcid Portfolio. Todos los derechos reservados.</p>
        <p style="color: #007bff; margin: 5px 0;">
            <a href="#contact" style="text-decoration: none; color:#e7ecf1 ;">Contáctame</a> | 
            <a href="#about" style="text-decoration: none; color: #e7ecf1;">Sobre mí</a>
        </p>
    </div>
</footer>
